# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
.pybuilder/
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
#   For a library or package, you might want to ignore these files since the code is
#   intended to run in multiple environments; otherwise, check them in:
# .python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# poetry
#   Similar to Pipfile.lock, it is generally recommended to include poetry.lock in version control.
#   This is especially recommended for binary packages to ensure reproducibility, and is more
#   commonly ignored for libraries.
#   https://python-poetry.org/docs/basic-usage/#commit-your-poetrylock-file-to-version-control
#poetry.lock

# pdm
#   Similar to Pipfile.lock, it is generally recommended to include pdm.lock in version control.
#pdm.lock
#   pdm stores project-wide configurations in .pdm.toml, but it is recommended to not include it
#   in version control.
#   https://pdm.fming.dev/#use-with-ide
.pdm.toml

# PEP 582; used by e.g. github.com/David-OConnor/pyflow and github.com/pdm-project/pdm
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# pytype static type analyzer
.pytype/

# Cython debug symbols
cython_debug/

# PyCharm
#  JetBrains specific template is maintained in a separate JetBrains.gitignore that can
#  be found at https://github.com/github/gitignore/blob/main/Global/JetBrains.gitignore
#  and can be added to the global gitignore or merged into this file.  For a more nuclear
#  option (not recommended) you can uncomment the following to ignore the entire idea folder.
#.idea/
.DS_Store

dist/
docs/_build/*

examples/lightning_logs/
*.ckpt
# *.yaml

# Additional files and directories to ignore
__pycache__/
*.pyc
*.pyo
# *.json # for default preprocessing steps
model_head.pkl
model.safetensors
vocab.txt

# Ignore the following directories
dev/*
dev
post-checkout
post-commit
post-merge
pre-push
docs/notebooks/lightning_logs/*
docs/notebooks/lightning_logs
docs/notebooks/data
docs/notebooks/data/*
docs/notebooks/embeddings
docs/notebooks/embeddings/*
docs/notebooks/checkpoints
docs/notebooks/checkpoints/*
embeddings
embeddings/*
.ipynb_checkpoints/
.ipynb_checkpoints/*
stream_topic.egg-info/
stream_topic.egg-info/*
stream_topic/stream_topic_data/*
checkpoints/step_17802/config_sentence_transformers.json
checkpoints/step_17802/config_setfit.json
checkpoints/step_17802/config.json
checkpoints/step_17802/modules.json
checkpoints/step_17802/README.md
checkpoints/step_17802/sentence_bert_config.json
checkpoints/step_17802/special_tokens_map.json
checkpoints/step_17802/tokenizer_config.json
checkpoints/step_17802/tokenizer.json
checkpoints/step_17802/1_Pooling/config.json
checkpoints/step_59340/config_sentence_transformers.json
checkpoints/step_59340/config_setfit.json
checkpoints/step_59340/config.json
checkpoints/step_59340/modules.json
checkpoints/step_59340/README.md
checkpoints/step_59340/sentence_bert_config.json
checkpoints/step_59340/special_tokens_map.json
checkpoints/step_59340/tokenizer_config.json
checkpoints/step_59340/tokenizer.json
checkpoints/step_59340/1_Pooling/config.json
lightning_logs/version_0/hparams.yaml
lightning_logs/version_0/metrics.csv
lightning_logs/version_1/hparams.yaml
lightning_logs/version_1/metrics.csv
lightning_logs/version_10/hparams.yaml
lightning_logs/version_10/metrics.csv
lightning_logs/version_11/hparams.yaml
lightning_logs/version_11/metrics.csv
lightning_logs/version_12/hparams.yaml
lightning_logs/version_13/hparams.yaml
lightning_logs/version_13/metrics.csv
lightning_logs/version_14/hparams.yaml
lightning_logs/version_15/hparams.yaml
lightning_logs/version_15/metrics.csv
lightning_logs/version_16/hparams.yaml
lightning_logs/version_16/metrics.csv
lightning_logs/version_17/hparams.yaml
lightning_logs/version_17/metrics.csv
lightning_logs/version_18/hparams.yaml
lightning_logs/version_18/metrics.csv
lightning_logs/version_19/hparams.yaml
lightning_logs/version_19/metrics.csv
lightning_logs/version_2/hparams.yaml
lightning_logs/version_2/metrics.csv
lightning_logs/version_20/hparams.yaml
lightning_logs/version_21/hparams.yaml
lightning_logs/version_22/hparams.yaml
lightning_logs/version_23/hparams.yaml
lightning_logs/version_24/hparams.yaml
lightning_logs/version_24/metrics.csv
lightning_logs/version_25/hparams.yaml
lightning_logs/version_26/hparams.yaml
lightning_logs/version_26/metrics.csv
lightning_logs/version_27/hparams.yaml
lightning_logs/version_27/metrics.csv
lightning_logs/version_28/hparams.yaml
lightning_logs/version_28/metrics.csv
lightning_logs/version_29/hparams.yaml
lightning_logs/version_29/metrics.csv
lightning_logs/version_3/hparams.yaml
lightning_logs/version_3/metrics.csv
lightning_logs/version_30/hparams.yaml
lightning_logs/version_31/hparams.yaml
lightning_logs/version_31/metrics.csv
lightning_logs/version_32/hparams.yaml
lightning_logs/version_33/hparams.yaml
lightning_logs/version_34/hparams.yaml
lightning_logs/version_35/hparams.yaml
lightning_logs/version_36/hparams.yaml
lightning_logs/version_37/hparams.yaml
lightning_logs/version_38/hparams.yaml
lightning_logs/version_39/hparams.yaml
lightning_logs/version_4/hparams.yaml
lightning_logs/version_4/metrics.csv
lightning_logs/version_40/hparams.yaml
lightning_logs/version_41/hparams.yaml
lightning_logs/version_42/hparams.yaml
lightning_logs/version_43/hparams.yaml
lightning_logs/version_43/metrics.csv
lightning_logs/version_44/hparams.yaml
lightning_logs/version_44/metrics.csv
lightning_logs/version_45/hparams.yaml
lightning_logs/version_46/hparams.yaml
lightning_logs/version_47/hparams.yaml
lightning_logs/version_48/hparams.yaml
lightning_logs/version_49/hparams.yaml
lightning_logs/version_5/hparams.yaml
lightning_logs/version_5/metrics.csv
lightning_logs/version_50/hparams.yaml
lightning_logs/version_51/hparams.yaml
lightning_logs/version_51/metrics.csv
lightning_logs/version_52/hparams.yaml
lightning_logs/version_52/metrics.csv
lightning_logs/version_53/hparams.yaml
lightning_logs/version_53/metrics.csv
lightning_logs/version_54/hparams.yaml
lightning_logs/version_54/metrics.csv
lightning_logs/version_55/hparams.yaml
lightning_logs/version_55/metrics.csv
lightning_logs/version_56/hparams.yaml
lightning_logs/version_56/metrics.csv
lightning_logs/version_57/hparams.yaml
lightning_logs/version_57/metrics.csv
lightning_logs/version_58/hparams.yaml
lightning_logs/version_58/metrics.csv
lightning_logs/version_59/hparams.yaml
lightning_logs/version_59/metrics.csv
lightning_logs/version_6/hparams.yaml
lightning_logs/version_6/metrics.csv
lightning_logs/version_7/hparams.yaml
lightning_logs/version_8/hparams.yaml
lightning_logs/version_8/metrics.csv
lightning_logs/version_9/hparams.yaml
lightning_logs/version_9/metrics.csv
Chinese_test.ipynb
test.py
Untitled.ipynb
Untitled1.ipynb
