recursive-exclude notebooks *
recursive-include stream/datasets/preprocessed_datasets/*
recursive-include stream/datasets/pre_embedded_datasets/*
recursive-include stream/preprocessed_datasets/*
include stream/preprocessor/config/default_preprocessing_steps.json