dash
datasets
gensim
matplotlib
nltk
numpy<=1.26.4
octis==1.13.1
pandas
plotly
pyarrow
scikit_learn
scipy==1.10.1
seaborn
sentence_transformers
huggingface_hub==0.23.5
setfit
setuptools
tqdm
umap_learn
wordcloud
community
networkx
python_louvain
lightning
torch
langdetect
hdbscan
loguru
pre-commit
optuna
optuna-integration