# basics
numpy
pandas
scikit-learn
nltk
datasets

# dl
lightning
torch
sentence_transformers

# nlp
transformers
gensim
umap-learn


community
networkx
python_louvain
langdetect


# misc
loguru
optuna
optuna-integration